*{
    margin: 0px;
    padding: 0px;
}
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header */
.header{
    background-image: url(/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    width: 1440px;
    height: 620px;

}
/*  nav styling */
.nav-content{
    margin: 26px 221px 44px 221px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-info{
    text-align: center;

}
.nav-title{
    margin-top: 32px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: bold;
}
.nav-description{
    margin-bottom: 32px;
    font-size: 14px;
    opacity: 0.8;
}
.btn-contact{
    margin-bottom: 44px;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
/* Main Section styling */
main{
    border: 2px solid black;
    margin: 74px 152px;
    width: 1140px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    justify-content: center;
}
.section-info{
    border: 2px solid black;
    margin: 80px 97px;
    width: 946px;
    height: 1233px;
}
.about{
    border: 2px solid black;
    margin: 0px 47px 48px 47px;
    width: 852px;
    height: 113px;
    align-items: center;
    text-align: center;
}
.section-title{
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
}
.section-title-description{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 48px;
}